@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root{
    --nav-color-light: rgb(36, 37, 42);
    --font-color-light:#F6E6DF;
    --background-color-light:wheat ;
    --boder-parameter:solid black 1px;
    --landing-design:solid 6px white;
    --navbar-font-size: 1rem;
    --navbar-width: 15%;
}

html,body {
    height: 100%;
}

.main-page-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color:rgb(36, 37, 42);
    background-size: cover;
}
.page-container{
    display:flex;
    height: 70%;
    margin-right: 2%;
    margin-left: 2%;
    width: 100%;
    
    flex-wrap: wrap;
}
.navbar {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    
    height: 15%;
    width: 100%;
    background-color: rgb(36, 37, 42);
    justify-content: right;
}
.navbar-logo {
    margin-left: 3%;
    margin-right: 10%;
}

.navbar-info {
    padding: 20%;

}

.navbar-resources {
    padding: 20%;

}

.navbar-darkmode{
    margin-left: 40%;
}
.navbar-item {
    display: flex;
    font-size: var(--navbar-font-size);
    align-items: center;
    height: 50%;
    width: calc(fit-content+100px);
    text-decoration: none;
    color: aliceblue;
}

.body{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: rgb(149,
        215,
        227);
    align-items: center;
    flex-direction: column;
    padding-top:10%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.navbar-item-container{
    background-color: var(--nav-color-light);
    position: absolute;
    left: 0;
    margin-left: 4%;
    height: 10%;
    width: 73%;
    display: flex;
    align-items: center;
}

.body-split span{
    margin-bottom: 5%;
    display: flex;
    font-size: 70px;
    color: #F6E6DF;
    
    flex-wrap: nowrap;
    width: fit-content;
    text-shadow: 2px 2px 2px black;
}

.home-symbol{
    color: rgb(255, 255, 255);
    font-size: 30px !important;
}

.mode-icon {
    font-size: 30px !important;
}

.right-end{
    display: flex;
    height: 15%;
    background-color: rgb(149,
                215,
                227);
    position: absolute;
    top: 2%;
    width: 20%;
    border-top-right-radius: 20px;
}

.right-end-shape{
    background-color: green;
    position: absolute;
    height: 12%;
    top: -2.1%;
    right: 19.5%;
    
    width: 4%;
    transform: rotate(40deg);
    border-radius: 10px;
    background-color:rgb(36, 37, 42) ;

}

.navbar-item-container :hover{
    color: aqua;
}

.dropdown{
    position: relative;
    display: inline-flex;
    transition: display 2s ease;
    margin-left: 10%;
    
}

.information-drpdn{
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgb(0, 0, 0);
    z-index: 1;
    display: none;
    margin-top: 2%;
    min-width: 200%;
    top: 100%;
    background-color: black;
    
}
.information-drpdn a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
}

.information-drpdn a:hover {
    background-color: #06fbff;
    color: black;
}

.dropdown:hover .information-drpdn {
    display: block;
}

.dropdown:hover .navbar-info {
    background-color: #11b0dc;
    color: black;
}
.dropdown:hover .navbar-resources {
    background-color: #11b0dc;
    color: black;
}